* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  margin: 10px 5px;
  font: 900 30px sans-serif;
}

@media screen and (min-width: 820px) {
  h1 {
    margin: 15px 0;
    font: 900 35px sans-serif;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    margin: 25px 0;
    font: 900 40px sans-serif;
  }
}

.mems {
  cursor: pointer;
  color: blackпш;
}

@media screen and (min-width: 1100px) {
  .mems {
    color: blue;
  }
}

.mems:hover {
  color: black;
}

hr {
  margin: 0;
}

.mem-item:hover .mem-img {
  display: block;
}

.mem-item:hover .icon {
  background-image: url("./icons/star-solid.svg");  
}

.mem-content {
  cursor: pointer;
}

/* .mem-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0;
  font: 900 20px sans-serif;
  cursor: pointer;
} */

.mem-title1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 5px;
  font: 900 20px sans-serif;
  cursor: pointer;
}

@media screen and (min-width: 820px) {
  .mem-title1 {
    margin: 0;
  }
}

.flex-item {
  margin: auto 0;
}

.icon {
  width: 15px;
  height: 15px;
  background-image: url("./icons/star-regular.svg");
}

.mem-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.mem-img {
  display: none;
  text-align: center;
  padding-bottom: 10px;
}

/* .mem-input:checked ~ .mem-title {
  color: black;
} */

.mem-input:checked ~ .mem-content {
  color: black;
}

.mem-input:checked + .mem-content > .mem-img {
  display: block;
}

/* .mem-input:checked + .mem-title > .icon {
  background-image: url("./icons/star-solid.svg");
} */

.mem-input:checked + .mem-content .icon {
  background-image: url("./icons/star-solid.svg");
}