* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  margin-top: 25px;
  font: 900 40px sans-serif ;
}

.mems {
  cursor: pointer;
}

hr {
  margin: 15px auto;
}

.mem-title {
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
  font: 900 20px sans-serif;
  position: relative;
}

.mem-title:after {
  content: "";
  display: inline-block;
  background-image: url("/icons/star-regular.svg");
  position: absolute;
  width: 15px;
  height: 15px;
  /* background-color: red; */
  right: 15px;
  top: 8px;
}

.mem-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.mem-img {
  display: none;
  text-align: center;
}

.mem-input:checked ~ .mem-img {
  display: block;
}

.mem-input:checked ~ .mem-title:after {
  background-image: url("/icons/star-solid.svg");
}